.alert{
    position: fixed;
    top: 0px;
    left: 45%;
    max-width: 200px;
    border: solid 1px var(--dark-color);
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}