<nav class="navbar bg-primary">
    <h1>Blog Admin</h1>
    <!-- <a  (click)="getUsers()">Get Users</a> -->
    <ul *ngIf="showMenu">
        <li routerLinkActive="active">
            <a [routerLink]="['/admin', 'dashboard']">Main</a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="['/admin', 'create']">Create</a>
        </li>
        <li>
            <a href="#" (click)="logout($event)">Logout</a>
        </li>
    </ul>
    <a *ngIf="!showMenu" [routerLink]="['/']">Back To Blog</a>
</nav>
<app-alert></app-alert>
<div class="container">
    <router-outlet></router-outlet>
</div>
